<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="=X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>Contents</title>
</head>
<body>
    <header id="headtitle">
        <h1>Character Sheet Database || Spell List</h1>
    </header>
    <nav>
        <ul id = "navlist">
            {% if current_user %}
                <li class="navth"><p>{{('Logged in as {}'.format(current_user.username))}}</p></li>
            {% else %}
                <li class="navth"><a href="/login">Login</a></li>
            {% endif %}
            <li class="navth"><a href="/createuser">Create an account</a></li>
            <li class="navth"><a href="/logout">Logout</a></li>
            <li class="navth"><a href="/">Sheets</a></li>
        </ul>
    </nav>

    <div class="addsheet">
        {% if current_user %}
            <a href="/newspell">Add new Spell</a>
        {% else %}
            <p>Log in to add new Spell</p>
        {% endif %}
    </div>

    <p> {{ error }}</p>
    <div id="contents">
        <table>
            <tr>
                <th><b>ID</b></th>
                <th><b>Spell Name</b></th>
                <th><b>Spell School</b></th>
                <th><b>View</b></th>
            </tr>
            {% for item in spells %}
                <tr>
                    <th>{{ item.SpellID }}</th>
                    <th>{{ item.SpellName }}</th>
                    <th>{{ item.SpellSchool }}</th>
                    <td>
                        <form action="/viewspell/{{ item.SpellID }}" method="GET">                    
                            <input type="submit" value="View">
                        </form>
                    </td>
                    {% for item in sheets %}
                        <form action="/addspell/{{ item.CharID }}" method="GET">
                            <input type="hidden" name="s_id" value="{{ item.SpellID }}">
                            <input type="submit" value="Add Spell To Sheet">
                        </form>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</body>