body {
  background-color: #511C29;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #56494E;
}

nav li {
  float: right;
}

p {
  color: white;
}

#headtitle {
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background-color: black;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

nav li a:hover {
  background-color: #111;
}

#addsheet p, a {
  float: right;
}

/* contents layout */
#contents {
  margin: auto;
}

#contents table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#contents td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

#contents tr:nth-child(even) {
  background-color: #A62639;
}

#contents tr:nth-child(odd) {
  background-color:#DB324D;
}


/* layout when viewing a sheet */


#sheet {
  margin: auto;
  width: 75%;
}

.charactername {
  color: white;
  margin: auto;
  float: left;
  width: 70%;
  overflow: hidden;
  text-align: center;
  background-color: black;
}

#sheet table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: auto;
  float: right;
  width: 30%;
}

#sheet p {
  font-size: 10px;
}

#sheet td, th {
  border: 1px solid black;
  text-align: center;
  width: 33%;
}

#sheet tr:nth-child(even) {
  background-color: #A62639;
}

#sheet tr:nth-child(odd) {
  background-color:#DB324D;
}

#newsheet {
  color: white;
}

#newsheet table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

