<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="=X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>Contents</title>
</head>
<body>
    <header id="headtitle">
        <h1>Character Sheet Database || Sheet List</h1>
    </header>
    <nav>
        <ul id = "navlist">
            {% if current_user %}
                <li class="navth"><p>{{('Logged in as {}'.format(current_user.username))}}</p></li>
            {% else %}
                <li class="navth"><a href="/login">Login</a></li>
            {% endif %}
            <li class="navth"><a href="/createuser">Create an account</a></li>
            <li class="navth"><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="addsheet">
        {% if current_user %}
            <a href="/add">Add new sheet</a>
        {% else %}
            <p>Log in to add new sheet</p>
        {% endif %}
    </div>

    <p> {{ error }}</p>
    <div id="contents">
        <table>
            <tr>
                <th><b>ID</b></th>
                <th><b>Character Name</b></th>
                <th><b>Class</b></th>
                <th><b>Race</b></th>
                <th><b>Owner</b></th>
                <th>View</th>
            </tr>   
            {% for item in sheets %}
                <tr>
                    <th>{{ item.CharID }}</th>
                    <th>{{ item.CharacterName }}</th>
                    <th>{{ item.CharacterClass }}</th>
                    <th>{{ item.Race }}</th>
                    <th>{{ item.owner.username }}</th>
                    <td>
                        <form action="/view/{{ item.CharID }}" method="GET">                    
                            <input type="submit" value="View">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>