<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="=X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>Contents</title>
</head>
<body>
    <p>{{ error }}</p>
    <table id = "navtablelol">
        <tr>
            <th><a href="/add">Add new sheet</a></th>
            {% if current_user %}
                <th>{{('Logged in as {}'.format(current_user.username))}}</th>
            {% else %}
                <th><a href="/login">Login</a></th>
            {% endif %}
            <th><a href="/createuser">Create an account</a></th>
            <th><a href="/logout">Logout</a></th>
        </tr>
    </table> 
    <table id = "contents">
        <tr>
            <th><b>ID</b></th> <!-- Will be removed -->
            <th><b>Character Name</b></th>
            <th><b>Class</b></th>
            <th><b>Race</b></th>
            <th><b>Owner</b></th>
            <th>Delete</th>
            <th>Edit</th>
            <th>View</th>
        </tr>
        {% for item in sheets %}
            <tr>
                <th>{{ item.CharID }}</th>
                <th>{{ item.CharacterName }}</th>
                <th>{{ item.CharacterClass }}</th>
                <th>{{ item.Race }}</th>
                <th>{{ item.username }}</th>
                <td>
                    <form action="/delete" method="POST">
                        <input type="hidden" name="c_id" value="{{ item.CharID }}">
                        <input type="submit" value="Delete">
                    </form>
                </td>
                <td>
                    <form action="/edit/{{ item.CharID }}" method="GET">
                        <input type ="submit" value="Edit">
                    </form>
                </td>
                <td>
                    <form action="/view/{{ item.CharID }}" method="GET">                    
                        <input type="submit" value="View">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>