<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="=X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>Editing Sheet</title>
</head>
<body>
    <form action="/edit/{{ request.view_args.CharID }}" method="POST">
        <table>
            <tr>
                <th>Name</th>
                <th>Class</th>
                <th>Level</th>
                <th>Race</th>
                <th>Background</th>
                <th>Alignment</th>
            </tr>
            {% sheet %}
                <tr>
                    <th><input type="text" name="edit_character_name" value = item.CharacterName></th>
                    <th><input type="text" name="edit_character_class" list="classes" value = item.CharacterClass></th>
                    <datalist id="classes">
                        <option value="Artificer"></option>
                        <option value="Barbarian"></option>
                        <option value="Bard"></option>
                        <option value="Cleric"></option>
                        <option value="Druid"></option>
                        <option value="Fighter"></option>
                        <option value="Monk"></option>
                        <option value="Paladin"></option>
                        <option value="Ranger"></option>
                        <option value="Rouge"></option>
                        <option value="Sorcerer"></option>
                        <option value="Warlock"></option>
                        <option value="Wizard"></option>
                    </datalist>
                    <th><input type="number" name="edit_character_level" min="1" max="20" value = item.Level></th>
                    <th><input type="text" name="edit_character_race" value = item.Race></th>
                    <th><input type="text" name="edit_character_background" value = item.Background></th>
                    <th><input type="text" name="edit_character_alignment" list="alignments" value = item.Alignment></th>
                    <datalist id="alignments">
                        {% set alignments = ["LG", "NG", "CG", "LN", "TN", "CN", "LE", "NE", "CE"] %}
                        {% for alignment in alignments %}
                            <option value="{{ alignment }}">{{ alignment }}</option>
                        {% endfor %}
                    </datalist>
                    <th><input type="submit" value="edit"></th>
                </tr>
        </table>
    </form>
    <a href="/">Return to contents</a>

</body>
</html>