<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="=X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>Creating Spell</title>
</head>
<body>
    <form id="newspell" action="/addspell" method="POST">
        <table>
            <tr>
                <td>Spell Name</td>
                <td>Spell School</td>
            </tr>
            <tr>
                <th><input type="text" name="spell_name"></th>
                <th><input type="text" name="spell_school" list="schools"></th>
                <datalist id="schools">
                    <option value="Abjuration"></option>
                    <option value="Conjuration"></option>
                    <option value="Divination"></option>
                    <option value="Enchantment"></option>
                    <option value="Evocation"></option>
                    <option value="Illusion"></option>
                    <option value="Necromancy"></option>
                    <option value="Transmutation"></option>
                </datalist>
                <th><input type="submit" value="add"></th>
            </tr>
        </table>
    </form>
    <a href="/">Return to spellbook</a>
</body>
</html>